
{% extends 'wrapper.html' %}

{% block title %}Registration{% endblock %}

{% block content %}

<form method="POST" class="row g-3 needs-validation w-50 mx-auto" novalidate>
  {% csrf_token %}
  <div class="md-4">
    <label for="validationPhone" class="form-label">Номер телефона</label>
    <input type="text" name="{{ form.phone_number.name }}" class="form-control" id="validationPhone" value="+7" maxlength="12" required>
    <div class="valid-feedback">
      Все хорошо!
    </div>
    <div class="invalid-feedback">
      Введите правильно номер телефона!
    </div>
  <div class="md-5">
    <label for="validationName" class="form-label">Имя</label>
    <input type="text" name="{{ form.first_name.name }}" class="form-control" id="validationName" maxlength="30" required>
    <div class="valid-feedback">
      Все хорошо!
    </div>
    <div class="invalid-feedback">
      Имя с большой буквы!
    </div>
  <div class="md-5">
    <label for="validationFamily" class="form-label">Фамилия</label>
    <input type="text" name="{{ form.last_name.name }}" class="form-control" id="validationFamily" maxlength="50" required>
    <div class="valid-feedback">
      Все хорошо!
    </div>
    <div class="invalid-feedback">
      Фамилия с большой буквы!
    </div>
  </div>

  <div class="md-4">
    <label for="validationPassword" class="form-label">Пароль</label>
    <input type="password" name="{{ form.password1.name }}" class="form-control" id="validationPassword" maxlength="117" required>
    <div class="valid-feedback">
      Все хорошо!
    </div>
    <div class="invalid-feedback">
      Должна быть одна заглавная и строчная буквы!
    </div>
  </div>
<div class="md-5">
    <label for="validationPasswordSecond" class="form-label">Повторите пароль</label>
    <input type="password" name="{{ form.password2.name }}" class="form-control" id="validationPasswordSecond" maxlength="117"  required>
    <div class="valid-feedback">
      Все хорошо!
    </div>
    <div class="invalid-feedback">
      Пароли не совпадают!
    </div>
  </div>


  <div class="col-13">
    <button class="btn btn-primary mt-4" type="submit">Регистрация</button>

</form>
{% load static %}
<script src="{% static 'registration/js/registration.js' %}"></script>

{% endblock %}

